header {
    display: inline-flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 30px 10%;
    text-align: center;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #2bb376;
}
h1 {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #6a6b6b;
    padding: 10px;
  }

  #container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }