* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Audiowide;
}

header {
    /* display:inline-flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 30px 10%; */
    background-color: aqua;
    text-align: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__links {
    list-style-type: style none;
}

.nav__links li {
    display:inline-flex;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #f9fc2d;
}
h2 {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #edfa00;
    padding: 5px;
  }

  #container > div {
    background-color: rgba(9, 9, 191, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: #edfa00;
  }